<p>
  login works!
</p>


<div class="container white z-depth-2">
  <ul class="tabs teal">
    <li class="tab col s3"><a class="white-text active" href="login">login</a></li>
    <li class="tab col s3"><a class="white-text" href="register">register</a></li>
  </ul>


  <div id="login" class="col s12">
    <form class="col s12">
      <div class="form-container">
        <h3 class="teal-text">Welcome</h3>
        <div class="row">
          <div class="input-field col s12">
            <input id="txtEmail" type="email" class="validate" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="txtPassword" type="password" class="validate" placeholder="Password">
          </div>
        </div>
        <br>

        <div>
          <!--<button id="btnLogin" class="btn waves-effect waves-light teal" type="submit" name="action">Login</button>-->
          <button id="btnLogin" (click)="login()" class="btn btn-action">Login</button>
          <!--<a href="">Forgotten password?</a>-->
        </div>
      </div>
    </form>
  </div>
</div>
