
<div fxLayout="row" fxLayoutAlign="center" class="fromTop">
  <mat-card fxFlex="50" >

    <div class="container">
      <ul>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
      </ul>
    </div>

    <h4>Login</h4>

    <mat-card-content>
      <form (ngSubmit)="login()"
            [formGroup]="loginForm"
            novalidate
            fxLayout="column">

        <!--E-mail-->
        <mat-form-field fxFlex>
          <input matInput
                 type="email"
                 placeholder="E-mail"
                 formControlName="email">
        </mat-form-field>

        <!--Password-->
        <mat-form-field fxFlex="">
          <input matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password">
        </mat-form-field>


        <div class="center">
          <button type="submit"
                  name="action">
            Login
          </button>
          <button type="button" (click)="signInWithGoogle()">
            Google+
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
