<p>
  register works!
</p>

<div class="container white z-depth-2">
  <ul class="tabs teal">
    <li class="tab col s3"><a class="white-text active" href="login">login</a></li>
    <li class="tab col s3"><a class="white-text" href="register">register</a></li>
  </ul>

<div id="register" class="col s12">
  <form class="col s12">
    <div class="form-container">
      <h3 class="teal-text">Welcome</h3>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" placeholder="First Name">
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="txtEmail" type="email" class="validate" placeholder="E-mail">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email-confirm" type="email" class="validate" placeholder="E-mail Confirmation">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="txtPassword" type="password" class="validate" placeholder="Password" >
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password-confirm" type="password" class="validate" placeholder="Password Confirmation">
        </div>
      </div>
      <div>
        <button id="btnRegister" class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
