<div fxLayout="row" fxLayoutAlign="center" class="fromTop">
  <mat-card fxFlex="50">

    <div class="container">
      <ul>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
      </ul>
    </div>

    <h4>Please register</h4>

    <mat-card-content>
      <form (ngSubmit)="register()"
            [formGroup]="registerForm"
            novalidate
            fxLayout="column">

        <!--E-mail-->
        <mat-form-field fxFlex>
          <input matInput
                 type="email"
                 placeholder="E-mail"
                 formControlName="email">
          <mat-error *ngIf="fcError('email', 'required')">
            E-mail is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="fcError('email', 'email', ['required'])">
            E-mail is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>

        <!--E-mail confirmation-->
        <mat-form-field fxFlex>
          <input matInput=""
                 type="email"
                 class="validate"
                 formControlName="confirmEmail"
                 placeholder="E-mail Confirmation">
          <mat-error *ngIf="fcError('confirmEmail', 'required')">
            Please insert E-Mail again to avoid possible <strong>error</strong>
          </mat-error>
        </mat-form-field>

        <!--Password-->
        <mat-form-field fxFlex="">
          <input matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password">
          <mat-error *ngIf="fcError('password', 'required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!--Password confirmation-->
        <mat-form-field fxFlex="">
          <input matInput=""
                 type="password"
                 formControlName="confirmPassword"
                 placeholder="Password Confirmation">
          <mat-error *ngIf="fcError('confirmPassword', 'required')">
            Password Confirmation is <strong>required</strong> aswell
          </mat-error>
          <mat-error *ngIf="fcError('confirmPassword', 'no-match', ['required'])">
            The two passwords does <strong>NOT</strong> match
          </mat-error>
        </mat-form-field>

        <div class="center">
          <button type="submit"
                  name="action">
            Submit
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
