mat-toolbar.toolbar-background {
  background: #009688;
}

button.button-logout {
  background: #afafaf;

}button.button-toolbar {
  background: #00b6ac;
}

.spaceBottom {
  margin-bottom: 1%;
}

.white {
  color: #eceeef;
}
